/*

	Internet Tools Project
				Version 1.0
				index.html
				Authors:   Rachelle Barrette
						   Thomas Malley
			
				Date: 		2017-01-13

*/

html{
	 text-align: center;
	 color:white;
}

